body {
    font-family: "Futura PT", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #666;
}


.container {
    width: 100%;
    max-width: 1252px;
    margin: 0 auto;
}

.welcome {
    padding-bottom: 63.65px;

    background: linear-gradient(180deg, rgba(49, 49, 49, 1) 0%, rgba(49, 49, 49, 0.7712) 16.15%, rgba(49, 49, 49, 0.6) 28.26%), url(../images/header.png) top/cover no-repeat;
}

.header {
    display: flex;

    padding: 42px 15px;

    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.logo__img {
    width: 100%;
}

.menu__list {
    display: flex;

    gap: 14px;
}

.menu__link {
    font-weight: 400;
    text-decoration: none;
    
    color: #DFDFDF;
}

.menu__burger {
    display: none;
}

.lang__link {
    position: relative;

    font-size: 18px;
    text-decoration: none;
    
    color: #DFDFDF;
}

.lang__link-active::after {
    position: absolute;
    top: 24px;
    left: 0;

    display: block;
    width: 100%;
    height: 1px;

    content: "";

    background-color: #DFDFDF;
}

.lang__slash {
    color: rgba(255, 255, 255, 0.20);
}

.welcome__content {
    position: relative;

    display: flex;

    padding: 0 15px;

    justify-content: space-between;
    margin-top: 69.69px;
}

.welcome__left {
    width: 100%;
    max-width: 530px;
    margin-top: 77px;
}

.welcome__title {
    font-size: 63px;
    font-weight: 450;
    line-height: 67%;
    
    color: #FFF;
}

.welcome__subtitle {
    width: 100%;
    max-width: 492px;
    margin-top: 33.56px;

    font-size: 26px;
    font-weight: 400;
    line-height: 32.895px;

    color: #E4E4E4;
}

.button {
    padding: 19px 35px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 67%;

    color: #DD2020;
    background: #FFF;
    border-radius: 8px;
}

.button-welcome {
    margin-top: 38.44px;
}

.welcome__more {
    display: flex;

    margin-top: 114px;

    gap: 20.15px;
    align-items: center;
}

.welcome-more__arrow {
    display: flex;

    height: 42.854px;
    width: 42.854px;
    
    justify-content: center;
    align-items: center;

    background-color: #DD2020;
    border-radius: 50%;
}

.welcome-more__img {
    height: 19px;
}

.welcome-more__text{
    font-size: 14px;
    font-style: normal;
    font-weight: 450;

    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
    
    color: #FFF;
}

.welcome__right {
    display: flex;

    width: 100%;
    max-width: 240px;

    justify-content: flex-start;

    text-align: right;
}

.welcome__info {
    width: 100%;
    max-width: 194px;
}

.welcome-info__title {
    position: relative;

    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 67%;
}

.welcome-info__title::after {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);

    display: block;
    width: 7px;
    height: 7px;

    content: "";

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.40);
}

.welcome-info__subtitle {
    position: relative;

    padding-top: 13px;

    font-size: 17px;
    font-weight: 400;
    line-height: 20px;

    color: #FFF;
}

.welcome__info:not(:last-child) .welcome-info__subtitle {
    padding-bottom: 48px;
}

.welcome-info__subtitle::after {
    position: absolute;
    top: 50%;
    right: -37px;
    transform: translateY(-50%);

    display: block;
    width: 1px;
    height: 90%;

    content: "";

    background-color: rgba(255, 255, 255, 0.40);
}

.welcome__info:first-child .welcome-info__subtitle::before {
    position: absolute;
    top: -40px;
    right: -37px;

    display: block;
    width: 1px;
    height: 12px;

    content: "";

    background-color: rgba(255, 255, 255, 0.40);
}

.welcome__whatsapp {
    position: absolute;
    bottom: -40px;
    right: -20px;
}

.welcome-whatsapp__img {
    width: 49px;
}

.about {
    margin-top: 75px;
}

.about__info {
    display: flex;

    justify-content: space-between;

    line-height: 140%;
}

.title {
    position: relative;
    padding-left: 39px;
    margin-bottom: 23px;

    font-size: 50px;
    font-weight: 450;
    line-height: 67%;

    color: #151515;
}

.title::before {
    position: absolute;
    top: -50%;
    left: 5px;

    display: block;
    width: 4px;
    height: 62px;
    transform: rotate(13.3deg);

    content: "";

    background-color: #DD2020;
    border-radius: 8px;
}

.subtitle {
    margin-left: 42px;
}

.about__content {
    margin-right: 75px;

    width: 100%;
    max-width: 642px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    
    color: #666;
}

.about__cards {
    margin-top: 55px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    padding: 55px 35px;

    box-sizing: border-box;
    width: 100%;
    max-width: 396px;
    min-height: 393px;

    background: #FFF;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
}

.card__img {
    margin-bottom: 33px;

    width: 72px;
}

.card__title {
    margin-bottom: 16px;

    font-size: 24px;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;

    color: #151515;
}

.card__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    
    color: #666;
}

.power {
    margin-top: 75px;
}

.power__content {
    display: flex;
    
    justify-content: space-between;
}

.power__img {
    width: 100%;
    max-width: 479px;

    border-radius: 8px;
}
.power__info {
    margin-top: 43px;

    width: 100%;
    max-width: 710px;
}

.power__list {
    margin-top: 47px;
    padding-left: 55px;
}

.power__item {
    list-style-image: url(../images/icons/done.svg);

    font-size: 19px;
    font-weight: 400;
    line-height: 127%;

    color: #666;
}

.power__item:not(:last-child) {
    margin-bottom: 20px;
}

.certificate {
    margin-top: 75px;
}

.certificate__cards {
    margin-top: 58px;

    display: flex;

    justify-content: space-between;
}

.certificate__card {
    display: flex;

    width: 240px;
    height: 318px;

    justify-content: center;
    align-items: center;

    background: url(../images/frame.png) center/cover no-repeat;
}

.certificate__img {
    width: 212px;
    height: 290px;
}

.certificate__slide {
    margin: 55px auto 0 auto;

    display: flex;
    width: 100%;
    max-width: 534px;

    align-items: center;
    justify-content: space-between;
}


.slide__first, .slide__last {
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;

    color: #222;
}

.slide__bar {
    display: block;
    width: 467px;
    height: 2px;

    content: "";

    background-color: #D7D4D4;
}

.slide__bar-active {
    display: block;
    width: 139px;
    height: 2px;

    content: "";

    background-color: #DD2020;
}


.catalog {
    margin-top: 75px;
}

@media (max-width: 1400px) {
    .welcome__whatsapp {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .menu__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo__img {
        width: 80%;
    }

    .welcome__left {
        margin-top: 62px;
    }

    .welcome__title {
        font-size: 50.4px;
    }

    .welcome__subtitle {
        font-size: 20.8px;
    }

    .button {
        font-size: 14.4px;
    }

    .welcome-more__text {
        font-size: 11.2px;
    }

    .welcome-info__title {
        font-size: 27.2px;
    }

    .welcome-info__subtitle {
        font-size: 13.6px;
    }
}

@media (max-width: 768px) {
    .welcome__content {
        margin-top: 20px;

        flex-direction: column;
        align-items: center;
    }

    .welcome__left {
        display: flex;
        margin-top: 37.2px;
        
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    .button-welcome {
        margin-top: 23px;
    }

    .welcome__more {
        margin-top: 30px;

        flex-direction: column;
    }

    .welcome-more__text {
        display: none;
    }

    .welcome__right {
        margin-top: 30px;

        justify-content: center;
    }

    .welcome__info {
        text-align: center;
    }

    .welcome-info__title::after {
        display: none;
    }

    .welcome-info__subtitle::after {
        display: none;
    }

    .welcome__info:first-child .welcome-info__subtitle::before {
        display: none;
    }
}

@media (max-width: 576px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .menu__list {
        display: none;
        position: absolute;
        z-index: 10;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100vh;

        
        justify-content: center;
        backdrop-filter: blur(50px);
    }

    .menu__burger {
        position: relative;
    }

    .menu__burger, .menu__burger::before, .menu__burger::after {
        display: block;
        content: "";
        width: 14px;
        height: 1px;
        background-color: white;
    }

    .menu__burger::before {
        position: absolute;
        top: -4px;
    }

    .menu__burger::after {
        position: absolute;
        top: 4px;
    }

    .lang {
        display: none;
    }

    .welcome__content {
        margin-top: 0;
    }

    .welcome__title {
        font-size: 30px;
        line-height: normal;
    }

    .welcome-info__title {
        font-size: 20px;
    }
}